@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
*{
    scroll-behavior: smooth;
}
.cards-mentor{
    text-align: center;
    transition: all 0.5s ease-in-out;
}
.mentorName,.mentorDeg{
    color: #111;
    transition: all 0.5s ease-in-out;
    font-family: 'Nunito', sans-serif;
}
.cards-mentor:hover .mentorName{
    color: #fff;
}
.cards-mentor:hover .mentorDeg{
    color: #fff;
}
.innerDetails{
    text-align: center;
}

.customMentorIcons{
    color: #111;
    opacity: 0;
    transition: all 0.5s ease-in-out;
   
}
.cards-mentor:hover .customMentorIcons{
    opacity: 1;
}
.customMentorIcons:hover{
    color: #fff;
    cursor: pointer;
    transform: scale(1.2);
}
